body {
    background-image: url(/public/css/background.jpeg);
}
/*Menu*/
.navbar {
    background-color: #ccc !important;
    border-color: #ccc !important;
}
/*Insert form*/
h2 {
    text-align: center;
}
#insert-form, #login-form, #signin-form {
    width: 30%;
    margin: auto;
    padding: 5px;
    margin-top: 140px;
    color: #696969;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: sans-serif;
}
#insert-form p, #login-form p, #signin-form p {
    margin-top: 20px;
    margin-left: 20px;
}
#insert-form input, #login-form input, #signin-form input {
    width: 50%;
    padding: 5px 5px;
    margin-left: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
#insert-form input:focus, #login-form input:focus, #signin-form input:focus {
    border: 2px solid #696969;
}
#insert-form #button, #login-form #btn-login, #signin-form #btn-signin {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    color: #696969;
    font-size: 14px;
}
#insert-form #button:hover, #login-form #btn-login:hover,
#signin-form #btn-signin:hover, #toSelect:hover, #toInsert:hover {
    background-color: #696969;
    color: white;
}
#message {
    display: inline-block;
    font-size: 12px;
    margin-left: 25px;
    color: green;
}
#user-pass, #error {
    display: block;
    font-size: 12px;
    margin-left: 25px;
    color: red;
}
/*Next Page*/
#toSelect, #toInsert {
    float: right;
    color: #696969;
    right: 30px;
    top: 20px;
    position: absolute;
    font-family: sans-serif;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 15%;
    height: 30px;
    font-size: 14px;
}
/*Select table*/
.toastr-success {
    background-color: #2F96B4;
}
.toast-top-right {
    position: absolute;
    top: 12px;
    right: 12px;
}
.id {
    display: none;
}
table {
    width: 60% !important;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: sans-serif;
    border-radius: 20px !important;
}
th {
    border: none !important;
    padding: 10px !important;
    background-color: white;
}
a {
    text-decoration: none !important;
    color: gray !important;
}
tr {
    background-color: lightgray !important;
}
td {
    padding: 10px !important;
    color: #696969;
}
