body {
    background-image: url(/public/css/background.jpeg);
}
/*Insert form*/
h2 {
    text-align: center;
}
#insert-form {
    width: 30%;
    margin: auto;
    padding: 5px;
    margin-top: 140px;
    color: #696969;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: sans-serif;
}
#insert-form p {
    margin-top: 20px;
    margin-left: 20px;
}
#insert-form input {
    width: 50%;
    padding: 5px 5px;
    margin-left: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
#insert-form input:focus {
    border: 2px solid #696969;
}
#insert-form #button {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    color: #696969;
    font-size: 14px;
}
#insert-form #button:hover, #toSelect:hover, #toInsert:hover {
    background-color: #696969;
    color: white;
}
#message {
    display: inline-block;
    font-size: 12px;
    margin-left: 25px;
    color: green;
}
/*Next Page*/
#toSelect, #toInsert {
    float: right;
    color: #696969;
    right: 30px;
    top: 20px;
    position: absolute;
    font-family: sans-serif;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 15%;
    height: 30px;
    font-size: 14px;
}
/*Select table*/
table {
    width: 60% !important;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: sans-serif;
    border-radius: 20px !important;
}
th {
    border: none !important;
    padding: 10px !important;
    background-color: white;
}
a {
    text-decoration: none !important;
    color: gray !important;
}
tr {
    background-color: lightgray !important;
}
td {
    padding: 10px !important;
    color: #696969;
}
